<div class="bookshelf">
    <div class="book-grid" >
        <!-- <ul>

            <li>
                <img src="https://i.pinimg.com/564x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg" alt="">
        </ul> -->
    </div>

    <div class="shelf-shadows"></div>
    <div class="shelf"></div>
</div>
<div class="bookshelf" >
    <div class="book-grid" >
        <ul >
            <li *ngFor="let biblioteca of bibliotecas" [routerLink]=[biblioteca.id] >
                <img  *ngIf="biblioteca?.foto" src="http://localhost:8080/api/uploads/img/{{biblioteca.foto}}"
                alt="{{biblioteca.foto}}" class="img-thumbnail rounded">
        </ul>
    </div>
    <div class="shelf-shadows"></div>
    <div class="shelf"></div>
    <div class="col-sm">
        <!-- <img *ngIf="biblioteca?.foto" src="http://localhost:8080/api/uploads/img/{{biblioteca.foto}}"
            alt="{{biblioteca.foto}}" class="img-thumbnail rounded"> -->
    </div>
    
</div>

